<h1>Trip log</h1>
<label for="city">Filter by city: </label>
<select id="city-filter" type="text" onchange=filterByCity()>
    <option value="">All</option>
    <option value="Chicago">Chicago</option>
    <option value="Indianapolis">Indianapolis</option>
    <option value="Cincinnati">Cincinnati</option>
    <option value="Nashville">Nashville</option>
</select>
<table class="table table-bordered">
    <thead>
        <th>Date</th>
        <th>City</th>
        <th>Miles</th>
        <th>Gallons</th>
        <th>Miles per gallon</th>
        <th>edit</th>
        <th>delete</th>
    </thead>
    <tbody id="table-body">
        {{#each trips}}
        <tr>
            <td>{{date}}</td>
            <td>{{city}}</td>
            <td>{{miles}}</td>
            <td>{{gallons}}</td>
            <td>{{miles-per-gallon}}</td>
            <td><a href='/edit-trip?_id={{_id}}'>Edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>
    const rows = document.getElementById('table-body').children;
    function filterByCity() {
        const selectedCity = document.getElementById('city-filter').value;
        for (let row of rows) {
            row.style.display = row.textContent.includes(selectedCity) ? "" : "none";
        }
    }
</script>