<h1>Trip log</h1>
<label for="city">Filter by city: </label>
<select name="city" type="text">
    <option value="all">All</option>
    <option value="Chicago">Chicago</option>
    <option value="Indianapolis">Indianapolis</option>
    <option value="Cincinnati">Cincinnati</option>
    <option value="Nashville">Nashville</option>
</select>
<table class="table table-bordered">
    <thead>
        <th>Date</th>
        <th>City</th>
        <th>Miles</th>
        <th>Gallons</th>
        <th>Miles per gallon</th>
        <th>edit</th>
        <th>delete</th>
    </thead>
    <tbody>
        {{#each trips}}
        <tr>
            <td>{{date}}</td>
            <td>{{city}}</td>
            <td>{{miles}}</td>
            <td>{{gallons}}</td>
            <td>{{miles-per-gallon}}</td>
            <td><a href='/edit-trip?_id={{_id}}'>Edit</a></td>
            <td><a href="#">delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>