<h1>Trip log</h1>
<table class="table table-bordered">
    <thead>
        <th>Date</th>
        <th>City</th>
        <th>Miles</th>
        <th>Gallons</th>
        <th>Miles per gallon</th>
        <th>edit</th>
    </thead>
    <tbody>
        {{#each trips}}
        <tr>
            <td>{{date}}</td>
            <td>{{city}}</td>
            <td>{{miles}}</td>
            <td>{{gallons}}</td>
            <td>{{miles-per-gallon}}</td>
            <td><a href="#">edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>